button.Category {
  width: 100%;
  border: none;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 2% 0%;
  color: #605D5D;
  cursor: pointer;
  height: 3.3%;
}

.style1 {
  background-color: #f0f0f0;
}

.style2 {
  background-color: #f9f9f9;
}



