.Header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #04afe5;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.Header h1 {
  color: #ffffff;
  font-size: 36px;
  margin-left: 4%;
}

.Header h2 {
  color: #ffffff;
  margin-top: 0.5%;
  margin-right: 3%;
  font-size: 30px;
}